<!-- $Id: start.htm 17216 2011-01-19 06:03:12Z liubo $ -->
<layout name="Index/header_footer" />
<!-- directory install start -->
<ul id="cloud_list" style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">

</ul>

<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
</ul>
<div class="list-div">

</div>
<script type="text/javascript">
	/*$(function() {
		var x =	$(window.parent.frames["header-frame"].document).find("#load-div").html();
		
		alert(x)
	});*/
</script>